*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    background-image: url(C:\Users\szabo\Documents\oldalak\próbálkozások\N-vjegy\assets\háttér.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  
  .card {
    max-height: 750px;
    max-width: 1000px;;
    margin: 100px auto 0px auto;
  }
  
  .sample, .personal {
    width: 50%;
    height: 750px;
  }
  
  img {
    height: 20%;
    width: 20%;
  }
  
  .right {
    float: right;
  }
  
  .prof-pic, .about, .contact, .works, .work-one, .work-two, .work-three {
    height: 250px;
    background-color: rgba(114, 62, 4, 0.582)
  }
  
  .contact {
    width: 334px;
    text-align: center;
    line-height: 1.5em;
    font-size: 20px;
  }
  
  #contact {
    position: relative;
    animation-name: mymove;
    animation: mymove 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes mymove {
    from {left: -40px;}
    to {left: 0px;}
  }
  
  .prof-pic {
    width: 166px;
    text-align: center;
    border-top-left-radius: 10px;
  }
  
  .about {
    margin-top: 250px;
  }
  
  .works {
    margin-top: 0px;
    text-align: center;
    line-height: 1.5em;
    font-size: 20px;
    border-bottom-left-radius: 10px;
  }
  
  .work-one, .work-two,.work-three  {
    text-align: center;
    overflow-x: hidden;
    border-bottom:3px solid grey;
    border-left: 6px solid grey;
    border-top: 3px solid grey;
  }
  
  .prof-img {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    margin: 8.5px auto 8.5px auto;
    transition: all 1s ease-in-out;
  }
  
  .prof-img:hover {
    transform: scale(1.1);
  }
  
  ul {
    list-style: none;
  }
  
  p, h1 {
    text-align: center;
    position: relative;
    top: 25%;
    line-height: 1.3em;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  p, h2 {
    color: blanchedalmond;
  }
  
  #name {
    border: solid 2px none;
    border-radius: 20px;
    position: relative;
    top: 10%;
    background-color: rgba(182, 255, 249, 0.5);
  }
  
  .lists, #contact {
    position: relative;
    top: 80.7px;
    list-style: none;
    border: solid 2px none;
    border-radius: 20px;
    background-color: rgba(182, 255, 249, 0.5);;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  #link {
    text-align: center;
    position: relative;
    top: 905.2px;
    width: 1000px;
    margin: 0px auto 0px auto;
    font-size: 35px;
    letter-spacing: 30px;
  }
  
  .icon {
    display: inline;
  }
  
  .alpin, .electrician {
    height: 95%;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .web {
    height: 90%;
    width: 75%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .work-one {
    border-top-right-radius: 10px;
  }
  
  .work-three {
    border-bottom-right-radius: 10px;
  }
  
  i {
    color: bisque;
    transition: all 1s ease-in-out;
  }
  
  i:hover {
    transform: scale(1.3);
  }