/* ===== GENERAL STYLE ===== */

* {
  box-sizing: border-box;
  line-height: 1rem;
}

body {
  background: url(./assets/háttér\ \(2\).jpg) no-repeat center/cover;
}

.prof-pic {
  text-align: center;
  padding: 2vh 10vw;
}

.personal {
  line-height: 1.5rem;
  margin: 1vh auto;
  padding: 10vh 10vw;
  width: 50vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}

div p{
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  letter-spacing: .1rem;
  margin-bottom: 2rem;
}

.personal h1{
  font-family: 'Fredoka One';
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about::after {
  content: "";
  margin: 1.5rem auto;
  background: #444349;
  height: .2rem;
  width: 25vw;
  display: block;
}


  

img {
  height: 30vh;
  border-radius: 9999px;
  position: relative;
  top: 7vh;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    filter: grayscale(20%);
}

div li {
  display: inline;
  font-size: 4rem;
  text-align: center;
  width: 50vw;
}